html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
}
      
#map-page .ui-panel-wrapper {
  width: 100%;
  height: 100%;
  padding: 0px; 
}

#map-page .ui-header {
  height: 44px;
  opacity: .75;
}

/*this is the map canvas*/
#map-page .ui-content {
  position: absolute;
  top: 44px;
  bottom: 0px;
  width: 100%;
  padding: 0px;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.tree-detail {
  padding-left: 9px;
}

/*the headings for */
label.panel-descriptor {
  font-size: smaller;
  color: #767676;
  font-style: italic;
  margin-bottom: 1px;
}

.panel-detail {
  padding: 0px;
  color: #a8a6a6;
}
.panel-heading {
  padding: 0px;
  margin-bottom: 2px;
  color: #a8a6a6;
}

/*tree edit button*/
#tree-info-panel .edit {
  margin: 0 auto;
}

/*lc is location control*/
.lc-container {
  padding: 5px;
}
.lc-content {
  border: 1px solid #767676;
  background-color: white;
  opacity: .75;
  cursor: pointer;
}

.edit-button-wrapper {
  position: absolute;
  top: 30px;
  right: 30px;
}

.comments li {
  border-bottom: 1px solid #191919;
}

.comment-display .comments{
  font-size: small;
}
.comment-display .date{
  color: #767676;
  position: absolute;
  right: 2px;
  top: 2px;
  font-style: italic;
  font-size: x-small;

}
.comment-display .user{
  color: #767676;
  font-style: italic;
  font-size: x-small;
}

.comment-edit .comments{
  font-size: small;
}

.custom-tile {
  height: 4096px;
  width: 4096px;
  background-color: white;
  opacity: .1;
}